<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context  
	  http://www.springframework.org/schema/context/spring-context.xsd
	  http://www.springframework.org/schema/mvc  
	  http://www.springframework.org/schema/mvc/spring-mvc.xsd
	">

	<context:annotation-config />
	<context:component-scan base-package="com.sosop.service.mail" />
	<mvc:annotation-driven />

	<context:property-placeholder location="classpath:mail.properties" />

	<bean id="mail" class="com.sosop.service.mail.vo.Mail" scope="singleton">
		<property name="propeties">
			<props>
				<prop key="mail.smtp.host">${mail.smtp.host}</prop>
				<prop key="mail.smtp.port">${mail.smtp.port}</prop>
				<prop key="mail.smtp.auth">${mail.smtp.auth}</prop>
				<prop key="mail.transport.procotol">${mail.transport.procotol}</prop>
				<prop key="from">${from}</prop>
				<prop key="username">${username}</prop>
				<prop key="username">${password}</prop>
			</props>
		</property>
	</bean>

</beans>