<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context  
	  http://www.springframework.org/schema/context/spring-context.xsd
	">

	<context:annotation-config />
	<context:component-scan base-package="com.sosop.service.mail" />

	<context:property-placeholder location="classpath:mail.properties" />
	
	<import resource="classpath:cxf-config.xml" />

	<bean id="sendMail" class="com.sosop.service.mail.action.SendMail" scope="singleton">
		<constructor-arg name="pro">
			<props>
				<prop key="mail.smtp.host">${mail.smtp.host}</prop>
				<prop key="mail.smtp.port">${mail.smtp.port}</prop>
				<prop key="mail.smtp.auth">${mail.smtp.auth}</prop>
				<prop key="mail.transport.procotol">${mail.transport.procotol}</prop>
				<prop key="from">${from}</prop>
				<prop key="account">${account}</prop>
				<prop key="password">${password}</prop>
			</props>
		</constructor-arg>
	</bean>

</beans>